//{ actor_name: "Mubeen Ahmed", actor_url:"https://linkagoal.com/mubeen_ahm", actor_img: "https://cdn.linkagoal.com/resources/uploads/27525/thumb/medium/PQJzC_saAnBUMr7HSV7YBUkC.jpg"
        ,progress_update:"learn abc in one day", progress_update_url:"https://linkagoal.com/activity/123", progress_update_img: "https://i1.linkagoal.com/resources/uploads/31544/thumb/medium/FEg1R9k2Qbb_AtIApmLKsycT.jpg" ,
          username:"ahmer.saeed",
          first_name: "Ahmer Saeed",goal_name:"Learn English"}
doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
   head
      meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0,')
      meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
      title Progress Update
      link(rel='stylesheet', href='https://assets-linkagoal.netdna-ssl.com/css/geomanist-fonts.css')

   body(style="-webkit-font-smoothing:antialiased; font-family: 'Geomanist-Light','Helvetica Neue', Helvetica, 'Segoe UI', 'Lucida Grande', Arial, sans-serif; -webkit-text-size-adjust:none; word-wrap:break-word; background-color:#e5e8e5; margin:0; padding:0;")
      // Main Template
      table(cellspacing='0', cellpadding='0', border='0', width='100%')
         tr
            td(align='center', bgcolor='#e5e8e5')
               // Background
               table(cellspacing='0', cellpadding='0', border='0')
                  // Wrapper
                  // BODY
                  tr
                     td(width='600', style='padding-top:30px;')
                        table(cellspacing='0', cellpadding='0', border='0', style='border-collapse:collapse;')
                           // Header
                           tr
                              td(width='600', style='padding-top:0px;padding-left:30px;padding-right:30px;padding-bottom:0px;background-color:#ffffff;border-bottom:1px solid #e5e8e5;')
                                 table(cellspacing='0', cellpadding='0', border='0', style='border-collapse:collapse;')
                                    tr
                                       td(width='540', valign='middle', style='padding-top:15px;padding-bottom:15px;')
                                          table(cellspacing='0', cellpadding='0', border='0', style='border-collapse:collapse;')
                                             tr
                                                td(width='60', align='left', valign='middle', style='text-align:left;')
                                                   img(width='32', height='32', alt='Linkagoal', src='https://marketing-image-production.s3.amazonaws.com/uploads/43f53bbb929b7ba196d339049eeeddee0c92dc2e352a0a2fada7a1379af402799aefb5a4aa2fe00f70088085cc1b0061343d5a330d53b8e2fcf72ccf96a77da4.png', style='border-style:none; width: 32px; height: 32px;')
                                                td(width='438', align='right', valign='middle', style="text-align:right;font-size:12px;color:#5c6470;font-family: 'Geomanist-Regular','Helvetica Neue', Helvetica, 'Segoe UI', 'Lucida Grande', Arial, sans-serif;")
                                                   | PROGRESS UPDATE
                                                td(width='42', align='right', valign='middle', style='text-align:right;')
                                                   img(width='32', height='32', alt='Progress Update', src='https://marketing-image-production.s3.amazonaws.com/uploads/b55ce14a168281ce4864eb0284e3f6c102af8cdcce46456b0c499cdde6f59550f6941bfb90616b1609988395ee8a6b6d42c8145170df85b2582d70efbff5ccea.png', style='border-style:none; width: 32px; height: 32px;')
                           // Header
                           // Content
                           tr
                              td(width='600', style='padding-top:0px;padding-left:30px;padding-right:30px;padding-bottom:0px;background-color:#ffffff;')
                                 table(cellspacing='0', cellpadding='0', border='0', style='border-collapse:collapse;')
                                    tr
                                       td(width='540', valign='middle', align='left', style="padding-top:40px;padding-bottom:20px;text-align:left;font-size:14px;color:#151515;font-family: 'Geomanist-Regular','Helvetica Neue', Helvetica, 'Segoe UI', 'Lucida Grande', Arial, sans-serif;")
                                          | Hi #{first_name},
                           tr
                              td(width='600', style='padding-top:0px;padding-left:30px;padding-right:30px;padding-bottom:0px;background-color:#ffffff;')
                                 table(cellspacing='0', cellpadding='0', border='0', style='border-collapse:collapse;')
                                    tr
                                       td(width='540', valign='middle', style='padding-top:20px;padding-bottom:20px;')
                                          table(cellspacing='0', cellpadding='0', border='0', style='border-collapse:collapse;')
                                             tr
                                                td(width='42', align='left', valign='top', style='text-align:left;')
                                                   a(href='#{actor_url}')
                                                      img(width='32', height='32', alt='Linkagoal', src='#{actor_img}', style='border-style:none;border-radius:16px; width: 32px; height: 32px;')
                                                td(width='498', align='left', valign='top', style="padding-top:5px;text-align:left;font-size:15px;color:#666666;font-family: 'Geomanist-Regular','Helvetica Neue', Helvetica, 'Segoe UI', 'Lucida Grande', Arial, sans-serif;line-height:20px;")
                                                   a(href='', style="color:#2c2d30;text-decoration:none;font-family: 'Geomanist-Book','Helvetica Neue', Helvetica, 'Segoe UI', 'Lucida Grande', Arial, sans-serif;") #{actor_name}
                                                   |  Added a new progress update on the goal you're connected with
                                                   a(href='#{goal_url}', style="color:#2c2d30;text-decoration:underline;font-family: 'Geomanist-Regular','Helvetica Neue', Helvetica, 'Segoe UI', 'Lucida Grande', Arial, sans-serif;text-decoration:underline;") #{goal_name}
                           tr
                              td(width='600', style='padding-top:0px;padding-left:0px;padding-right:0px;padding-bottom:0px;background-color:#ffffff;')
                                 table(cellspacing='0', cellpadding='0', border='0', style='border-collapse:collapse;')
                                    tr
                                       td(width='600', style='padding-top:0px;padding-left:30px;padding-right:30px;padding-bottom:0px;background-color:#ffffff;')
                                          table(cellspacing='0', cellpadding='0', border='0', style='border-collapse:collapse;')
                                             tr
                                                td(width='540', valign='middle', align='left', style="padding-top:20px;padding-bottom:0px;text-align:left;font-size:14px;color:#2c2d30;font-family: 'Geomanist-Regular','Helvetica Neue', Helvetica, 'Segoe UI', 'Lucida Grande', Arial, sans-serif;")
                                                 span(style="font-size:14px;line-height:20px;color:#2c2d30;font-family: 'Geomanist-Book','Helvetica Neue', Helvetica, 'Segoe UI', 'Lucida Grande', Arial, sans-serif;") Progress Update:
                                                     | !{progress_update}

                                    tr
                                       td(width='600', style='padding-top:0px;padding-left:30px;padding-right:30px;padding-bottom:0px;background-color:#ffffff;')
                                          table(cellspacing='0', cellpadding='0', border='0', style='border-collapse:collapse;')
                                             tr
                                                td(width='540', valign='middle', align='left', style='padding-top:0px;padding-bottom:0px;text-align:left;')
                                                if progress_update_img
                                                   a(href='#{progress_update_url}', style='text-decoration:none;')
                                                      img(alt='Linkagoal', src='#{progress_update_img}', width='540', height='', border='0', style='display: block; width: 100%; height: auto; max-width: 540px; max-height: 304px;')
                                    tr
                                       td(width='600', style='padding-top:2px;padding-left:30px;padding-right:30px;padding-bottom:40px;background-color:#ffffff;')
                                          table(cellspacing='0', cellpadding='0', border='0', style='border-collapse:collapse;')
                                             tr
                                                td(width='540', valign='middle', align='center', style="padding-top:10px;padding-bottom:10px;text-align:center;font-size:14px;color:#ffffff;background-color:#1bbc9b;font-family: 'Geomanist-Regular','Helvetica Neue', Helvetica, 'Segoe UI', 'Lucida Grande', Arial, sans-serif;")
                                                   a(href='#{progress_update_url}', style="color:#ffffff;text-decoration:none;font-family: 'Geomanist-Regular','Helvetica Neue', Helvetica, 'Segoe UI', 'Lucida Grande', Arial, sans-serif;") View Update
                           // Content
                  // Footer
                  tr
                     td(width='600')
                        table.module.footer(border='0', cellpadding='0', cellspacing='0', align='center', width='100%', role='module', data-type='footer')
                           tr
                              td(style='padding: 15px 30px 15px 30px;', bgcolor='#e5e8e5')
                                 table(border='0', cellpadding='0', cellspacing='0', style='table-layout: fixed;')
                                    // App link section
                                    tr
                                       td(width='540', valign='middle', align='center', style="color: #6e6e6e; padding-top: 15px; text-align: center !important;font-family:helvetica, arial, sans-serif;font-size:15px;font-family:'Geomanist-Regular','Helvetica Neue', Helvetica, 'Segoe UI', 'Lucida Grande', Arial, sans-serif;font-size:14px;")
                                          table(cellspacing='0', cellpadding='0', border='0', style='border-collapse:collapse;margin:auto;')
                                             tr
                                                td(align='right', style="color: #6e6e6e; text-align: right !important;font-family:helvetica, arial, sans-serif;font-size:15px;font-family:'Geomanist-Regular','Helvetica Neue', Helvetica, 'Segoe UI', 'Lucida Grande', Arial, sans-serif;font-size:14px;", valign='middle')
                                                   | Download our Mobile App
                                                td(align='left', style='text-align:left;', valign='middle')
                                                   a(href='https://itunes.apple.com/us/app/linkagoal-share-your-life/id959763295?mt=8', style='text-decoration:none;padding-right: 10px;display:inline-block;')
                                                      img(width='28', height='28', alt='Linkagoal ios app', src='https://marketing-image-production.s3.amazonaws.com/uploads/51e972a53c7e63ab8086af8191e39bfdb2c444a6f5aae2e5228485822cbc188cb9f8e53842667eca4ada27abc2fb389e0b0278fda9ce261fe133680ebcbbc2cf.png', style='border-style:none; width: 28px; height: 28px;')
                                                   a(href='https://play.google.com/store/apps/details?id=com.linkagoal.app&hl=en', style='text-decoration:none;display:inline-block;')
                                                      img(width='28', height='28', alt='Linkagoal android app', src='https://marketing-image-production.s3.amazonaws.com/uploads/204c7c32c769b43acf855d3dbd3795166fcab0ef61c372af6690858cd886133a14a8629c5eff168f04c225517bc96ff9f3af107fcf5ea46b3a6840d7edb92908.png', style='border-style:none; width: 28px; height: 28px;')
                                     tr
                         td(style="padding-top: 10px; padding-bottom: 20px; text-align: center;font-family:helvetica, arial, sans-serif;font-size:15px;font-family:'Geomanist-Regular','Helvetica Neue', Helvetica, 'Segoe UI', 'Lucida Grande', Arial, sans-serif;font-size:10px;color: #888888 !important; line-height: 16px;")
                             | 440 North Wolfe Rd, Sunnyvale, CA, 94085  
                             a.ftreg.ft12(href='https://www.linkagoal.com/login?next=https://www.linkagoal.com/#{username}/settings/notifications', style="text-decoration:none;font-family:'Geomanist-Regular','Helvetica Neue', Helvetica, 'Segoe UI', 'Lucida Grande', Arial, sans-serif;font-size:10px;color: #1bb99a; text-decoration: none;") Email Settings

